body {
    width: 1000px; /* EX. Anchura 1000px */
    margin: 0 auto; /* margen arriba y abajo 0, izq y derc automático */
}
/* Maquetación de la cabecera con flotantes "float" */
header {
    background-color: #1d4276; /* borde blanco */
    overflow: hidden; /*contenido recortado y no barras desplazamiento */
/* propiedad importante para la correcta visualización de las capas flotantes que
contiene. Si no se especifica esta propiedad aquí, se devería declarar la regla CSS
clear: both; en la capa #contenedorViajes */
    height: 1%; /* opcional */
}
header img, header section:first-child{float: left;} /* Alineación izq */
header section+section{float: right; margin-right: 20px;} /*Alineación Dercha */


header img{
    width: 0px; height: 0px ;
    opacity: 0; /* animaremos la aparición con jquery */
/* Estas tres reglas CSS iniciales para la imagen de la cabecera también se puede 
encontrar en código jQuery (obligatoriamente en alguno de los dos sitios) */
    border: 4px solid white; /* EX. borde blanco de 4 px */
    margin-right: 15px;
    margin-top: 5px;
}
header img:hover{box-shadow: 4px 2px 6px white; /* los dos primeros parámetros son
obligados pero pueden tener valores distintos y el tercero y el cuarto son los que se
piden. Trabajamos con la pseudoclase, evento hover*/
}
/*Maquetar los viajes usando cajas FLEXIBLES */
#contenedorViajes{display: flex;
margin: 15px 0px; padding: 10px; /* Separación de la capa contenedora 10 px */
justify-content: space-between;}
#contenedorViajes section{width: 320px; background-color: white;} /*Anchura 320px */

@media screen and (orientation: portrait){
    body{ width: 100%;}
    header{text-align: center;}
    header img, header section{float:none;}/* mantiene su posición normal */
    header section{margin: 20px;}
    header section+section{margin: 0px;}
/*usando cajas Flexibles */
#contenedorViajes{flex-direction: column; align-items: center;}
#contenedorViajes section{margin: 5px 0px}
}
